streamlit
python==3.9.0
pandas
pdfplumber==0.10.0
python-docx==0.8.11
PyPDF2==3.0.1
anthropic==0.34.1
openpyxl==3.1.2
chardet==5.1.0   # For character encoding detection
numpy    # In case you perform numerical operations
altair==4.2.2    # For data visualization if needed
jsonschema==4.19.0 # For JSON validation and handling
